.background_div {
	position: absolute;
	width: 100%;
	background-color: #f1f2f3;
	display: block;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	height:100vh;
}
		.email_container{
			height: 800px;
		}
.byecold_logo {
	height: 50px;
	width: 300px;
	display: block;
	margin: 100px auto;
}
.byecold_logo img{
	margin:auto;
}
		.email_form{
			height: 300px;
			width: 600px;
			border: 5px solid red;
			margin: 100px auto;
			border-radius: 50px;
		}
		.byecold_message{
			width: inherit;
			height: 200px;
			margin: 50px auto;
			border: 3px solid red;
			text-align: center;
			
		}
		h3{
			font-size: 30px;
			color: #8D1215;
		}
